root = true

[*]
charset = utf-8
indent_style = unset
indent_size = unset
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# makefile
[Makefile]
indent_style = tab
indent_size = 4

# bash script
[*.sh]
indent_style = space
indent_size = 2

# diffs and patches
[{*.diff,*.patch}]
trim_trailing_whitespace = false
