[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = dirty
	shallow = true
[submodule ".local/share/nvim/plugged/vim-plug"]
	path = .local/share/nvim/plugged/vim-plug
	url = https://github.com/junegunn/vim-plug
	ignore = dirty
	shallow = true
[submodule ".local/lib/ohmyzsh"]
	path = .local/lib/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
	ignore = dirty
	shallow = true
[submodule ".local/lib/yadm"]
	path = .local/lib/yadm
	url = https://github.com/TheLocehiliosan/yadm
	ignore = dirty
	shallow = true
[submodule ".local/lib/dotbot"]
	path = .local/lib/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
	shallow = true
