[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".local/share/nvim/plugged/vim-plug"]
	path = .local/share/nvim/plugged/vim-plug
	url = https://github.com/junegunn/vim-plug
