# ignore local config files, but not config directory
*.local
!*.local/

# ignore zsh
.config/zsh/.zsh_sessions

# ignore tmux plugins
.config/tmux/plugins

# ignore yadm directory
.local/share/yadm/repo.git
