# ignore local config files
local.*

# ignore zsh
/zsh/.zsh_sessions

# ignore tmux plugins
/tmux/plugins

# ignore aws credentials
/aws/credentials

# ignore gcloud credentials
/gcloud/application_default_credentials.json
