"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true
continuation_prompt = '>> '

format = """[\
┌─\\[($username@)$hostname $localip\\] $directory( $battery)( $cmd_duration)(
│ \\[($git_commit)( $git_branch)( $git_state)( $git_status)\\]( $all))
└─\\[$time $status\\]( $shlvl) $character\
](bold blue)"""


[username]
disabled = false
format = '[$user]($style)'
style_user = 'bold green'
style_root = 'bold red'


[hostname]
disabled = false
ssh_only = false
format = '[$hostname]($style)'
style = 'bold green'


[localip]
disabled = false
ssh_only = false
format = '[$localipv4]($style)'
style = 'white'


[directory]
disabled = false
truncation_length = 3
truncate_to_repo = true
truncation_symbol = '~/.../'
format = '[$path]($style)'
style = 'bold red'


[battery]
disabled = false
full_symbol = ''
charging_symbol = ''
discharging_symbol = '!!! '
unknown_symbol = ''
empty_symbol = ''
format = '[$symbol$percentage]($style)'

[[battery.display]]
threshold = 10
style = 'bold red'

[[battery.display]]
threshold = 30
style = 'bold yellow'

[[battery.display]]
threshold = 50
style = 'bold green'


[cmd_duration]
disabled = false
min_time = 2_000
show_milliseconds = true
show_notifications = false
format = 'took [$duration]($style)'
style = 'bold yellow'


[git_commit]
disabled = false
only_detached = false
tag_disabled = false
tag_symbol = ' '
commit_hash_length = 10
format = '[$hash$tag]($style)'
style = 'bold yellow'


[git_branch]
disabled = false
format = '[$branch(:$remote_branch)]($style)'
style = 'bold yellow'


[git_state]
disabled = false


[git_status]
disabled = false
ahead = '>'
behind = '<'
diverged = '<>'
renamed = 'r'
deleted = 'x'
format = '[$all_status$ahead_behind]($style)'
style = 'bold red'


[time]
disabled = false
format = '[$time]($style)'
style = 'bold yellow'


[status]
disabled = false
success_symbol = 'Y'
format = '[$status]($style)'
style = 'bold green'


[shlvl]
disabled = false
threshold = 2
format = '[$shlvl]($style)'
style = 'bold yellow'


[character]
disabled = false
success_symbol = '[\$](bold white)'
error_symbol = '[\$](bold red)'


# disable other modules

[aws]
disabled = true
[azure]
disabled = true
# [battery]
[buf]
disabled = true
[c]
disabled = true
# [character]
[cmake]
disabled = true
# [cmd_duration]
[cobol]
disabled = true
[conda]
disabled = true
[container]
disabled = true
[crystal]
disabled = true
[daml]
disabled = true
[dart]
disabled = true
[deno]
disabled = true
# [directory]
[direnv]
disabled = true
[docker_context]
disabled = true
[dotnet]
disabled = true
[elixir]
disabled = true
[elm]
disabled = true
[erlang]
disabled = true
[fennel]
disabled = true
[fortran]
disabled = true
[fossil_branch]
disabled = true
[fossil_metrics]
disabled = true
[gcloud]
disabled = true
# [git_branch]
# [git_commit]
[git_metrics]
disabled = true
# [git_state]
# [git_status]
[gleam]
disabled = true
[golang]
disabled = true
[gradle]
disabled = true
[guix_shell]
disabled = true
[haskell]
disabled = true
[haxe]
disabled = true
[helm]
disabled = true
[hg_branch]
disabled = true
[hg_state]
disabled = true
# [hostname]
[java]
disabled = true
[jobs]
disabled = true
[julia]
disabled = true
[kotlin]
disabled = true
[kubernetes]
disabled = true
[line_break]
disabled = true
# [localip]
[lua]
disabled = true
[memory_usage]
disabled = true
[meson]
disabled = true
[mise]
disabled = true
[nats]
disabled = true
[netns]
disabled = true
[nim]
disabled = true
[nix_shell]
disabled = true
[nodejs]
disabled = true
[ocaml]
disabled = true
[opa]
disabled = true
[openstack]
disabled = true
[os]
disabled = true
[package]
disabled = true
[perl]
disabled = true
[php]
disabled = true
[pijul_channel]
disabled = true
[pulumi]
disabled = true
[purescript]
disabled = true
[python]
disabled = true
[quarto]
disabled = true
[raku]
disabled = true
[red]
disabled = true
[rlang]
disabled = true
[ruby]
disabled = true
[rust]
disabled = true
[scala]
disabled = true
[shell]
disabled = true
# [shlvl]
[singularity]
disabled = true
[solidity]
disabled = true
[spack]
disabled = true
# [status]
[sudo]
disabled = true
[swift]
disabled = true
[terraform]
disabled = true
# [time]
[typst]
disabled = true
# [username]
[vagrant]
disabled = true
[vcsh]
disabled = true
[vlang]
disabled = true
[zig]
disabled = true


# format for $all

# format = """
# $username\
# $hostname\
# $localip\
# $shlvl\
# $singularity\
# $kubernetes\
# $directory\
# $vcsh\
# $fossil_branch\
# $fossil_metrics\
# $git_branch\
# $git_commit\
# $git_state\
# $git_metrics\
# $git_status\
# $hg_branch\
# $hg_state\
# $pijul_channel\
# $docker_context\
# $package\
# $c\
# $cmake\
# $cobol\
# $daml\
# $dart\
# $deno\
# $dotnet\
# $elixir\
# $elm\
# $erlang\
# $fennel\
# $fortran\
# $gleam\
# $golang\
# $guix_shell\
# $haskell\
# $haxe\
# $helm\
# $java\
# $julia\
# $kotlin\
# $gradle\
# $lua\
# $nim\
# $nodejs\
# $ocaml\
# $opa\
# $perl\
# $php\
# $pulumi\
# $purescript\
# $python\
# $quarto\
# $raku\
# $rlang\
# $red\
# $ruby\
# $rust\
# $scala\
# $solidity\
# $swift\
# $terraform\
# $typst\
# $vlang\
# $vagrant\
# $zig\
# $buf\
# $nix_shell\
# $conda\
# $meson\
# $spack\
# $memory_usage\
# $aws\
# $gcloud\
# $openstack\
# $azure\
# $nats\
# $direnv\
# $env_var\
# $mise\
# $crystal\
# $custom\
# $sudo\
# $cmd_duration\
# $line_break\
# $jobs\
# $battery\
# $time\
# $status\
# $os\
# $container\
# $netns\
# $shell\
# $character"""
